<!DOCTYPE html>
<html>
	<head>
		<title>Create a Post/Review</title>
		<link rel="stylesheet" href="createpost.css">
		<link rel="stylesheet" href="navbar.css">
	</head>
	<body>

		<div id="navbar">
			<a class="mainpage" href="/">Profdex</a>
			<span class="navbar-buttons">
				<a class="menu" href="/editprofile">About Me</a>
				{{#if (and (ne userType 'professor') (ne userType 'manager'))}}
				<a class="menu" href="/createpost">Create Review</a>
				{{/if}}
				<a class="menu" href="/help">Help</a>
			</span>
			<span class="search-buttons">
				{{#if loggedInUser}}
					<a class="login-button" href="/logout">Logout</a>
				{{else}}
					<a class="login-button" href="/login">Login</a>
				{{/if}}
				<form action="/viewprof" method="post">
					<input type="text" class="search" id="search" name="search" placeholder="Professor Full Name">
					<button type="submit" id="searchbutton"></button>
				</form>
			</span>
		</div>
		
		<form action="/createpost" method="post">
			<div>
				<div class="main1">
				
					<div class="professorinput">
						<span class="professorwho">Who's that Professor?</span>

						<div class="textinputs">
							<select name="professorId" class="inputbox" id="professorSelect" required>
								<option value="">Select a Professor</option>
								{{#each professors}}
									<option value="{{_id}}" data-course="{{subjects.[0].name}}">{{userId.firstName}} {{userId.lastName}} - {{subjects.[0].name}}</option>
								{{/each}}
							</select>
							<input type="text" placeholder="Course" name="course" class="inputbox" id="courseInput" required>
						</div>
					</div>


					<div class="slidersbox">
						<div class="sliders">
							<div> <span>1</span> <input type="range" min="1" max="5" value="3" class="slider" name="proficiency"> <span>5</span> <span class="attribute">PROFICIENCY</span></div>
							<div> <span>1</span> <input type="range" min="1" max="5" value="3" class="slider" name="generosity"> <span>5</span> <span class="attribute">GENEROSITY</span></div>
							<div> <span>1</span> <input type="range" min="1" max="5" value="3" class="slider" name="engagement"> <span>5</span> <span class="attribute">ENGAGEMENT</span></div>
							<div> <span>1</span> <input type="range" min="1" max="5" value="3" class="slider" name="workload"> <span>5</span> <span class="attribute">WORKLOAD</span></div>
							<div> <span>1</span> <input type="range" min="1" max="5" value="3" class="slider" name="difficulty"> <span>5</span> <span class="attribute">DIFFICULTY</span></div>
						</div>
					</div>
			
		

				</div>


				<div class="reviewlayout">
					<input type="text" name="text" class="reviewinput" placeholder="Write Review Here" required></textarea>
					<div class="buttons">
						<button id="submit" type="submit" class="button">Send</button>
					</div>
				</div>


			</div>
		</form>
		{{#if errors.professor_error}}
			<b class="professor-error">Professor not found.</b>
		{{/if}}
		{{#if errors.validation_error}}
			<b class="professor-error">Please fill all fields and write a review with at least 10 characters.</b>
		{{/if}}
		
		<script>
			document.getElementById('professorSelect').addEventListener('change', function() {
				const selectedOption = this.options[this.selectedIndex];
				const courseInput = document.getElementById('courseInput');
				
				if (selectedOption.value) {
					const course = selectedOption.getAttribute('data-course');
					courseInput.value = course;
				} else {
					courseInput.value = '';
				}
			});
		</script>
	</body>
</html>