{{!-- <html>
<head>
	<link rel="stylesheet" href="navbar.css">
	<link rel="stylesheet" href="viewcomments.css">
</head>

<body>
	{{#if error}}
	  <div class="error-message" style="color: red; margin: 20px 100px;">
		{{error}}
		<br>
		<button onclick="window.history.back()" style="margin-top:10px; padding: 6px 16px; border-radius: 4px; border: none; background: #007bff; color: white; cursor: pointer;">Return to Previous Page</button>
	  </div>
	{{/if}}
	<div id="filter">
		{{#with professorData}}
			<a id="professorname" href="/viewprof?id={{_id}}" style="position: absolute; margin-top: 10px; margin-left: 100px;">{{aProfessor.title}} {{aProfessor.lastname}}</a>
		{{/with}}
		{{#with postData}}
			<a class="filter" style="margin-top: 37px; margin-left: 100px;">{{course}}</a>
		{{/with}}
	</div>
	<div id="lot">
	   {{#each commentData}}
		   <div class="primary-comment" style="margin-left:100px; margin-top:20px;">
			   <div class="comment-header">
				   <a class="comment-profile" href="/viewuser?id={{op}}"></a>
				   <a class="comment-username" href="/viewuser?id={{op}}">{{opname}}
				   {{#if (eq ../commentUserTypes.[@index] 'manager')}}<span style="color: red; font-weight: bold; margin-left: 6px;">Manager</span>{{/if}}
				   </a>
				   <a class="reply" href="/reply?id={{_id}}" style="margin-left: 1230px; margin-top: 16px;">Reply</a>
		   {{#if (eq ../../userType 'manager')}}
		   <form action="/deletecomment" method="POST" style="display:inline;">
			   <input type="hidden" name="commentId" value="{{_id}}">
			   <input type="hidden" name="postId" value="{{post}}">
			   <button type="submit" class="delete-comment" style="margin-left:10px; color:red;">Delete Comment</button>
		   </form>
		   {{/if}}
			   </div>
			   <a class="text-comment">@{{toname}} ({{to}}) - {{date}} <br><br> {{aComment.text}}</a>
		   </div>
	   {{/each}}

	<!-- Add comment form -->
	<div class="add-comment" style="margin-left:100px; margin-top:30px;">
	   <form action="/reply" method="post" style="display: flex; flex-direction: column; max-width: 500px;">
		   <label for="comment" style="font-weight: bold; margin-bottom: 5px;">Add a Comment:</label>
		   <textarea id="comment" name="commentText" placeholder="Comment here!" required style="margin-bottom: 10px; min-height: 60px;"></textarea>
		   <input type="hidden" name="post" value="{{postData._id}}">
		   <input type="hidden" name="to" value="{{postData.op}}">
		   <input type="hidden" name="toname" value="{{postData.opname}}">
		   <button id="submit" type="submit" class="submit" style="background: #007bff; color: white; border: none; padding: 8px 16px; border-radius: 4px; font-size: 16px; cursor: pointer; width: fit-content; align-self: flex-end;">Post Comment</button>
	   </form>
	</div>
	</div>
	
	<div id="navbar">
		<a class="mainpage" href="/">Profdex</a>
		<span class="navbar-buttons">
			<a class="menu" href="/editprofile">About Me</a>
			{{#if (and (ne userType 'professor') (ne userType 'manager'))}}
			<a class="menu" href="/createpost">Create Review</a>
			{{/if}}
			<a class="menu" href="/help">Help</a>
		</span>
		<span class="search-buttons">
			{{#if loggedInUser}}
				<a class="login-button" href="/logout">Logout</a>
			{{else}}
				<a class="login-button" href="/login">Login</a>
			{{/if}}
			<form action="/viewprof" method="post">
				<input type="text" class="search" id="search" name="search" placeholder="Professor Full Name">
				<button type="submit" id="searchbutton"></button>
			</form>
		</span>
	</div>

</body>
</html> --}}